

<ion-content [class]="bgColor" padding (swipe)="goToDetailPage()">
  <div class="header" >
    <div transparent hideBackButton class="nav">
      <div class="title" *ngIf="!pictureTaken" >
        <span id="fire">🔥</span>
      </div> 
        <a (click)="uploadPic()" id="upload_btn"><ion-icon id="upload" ios="md-images" md="md-images"></ion-icon></a>
        <a (click)="reverseCamera()" *ngIf="!pictureTaken"><ion-icon id="reverse" ios="ios-reverse-camera-outline" md="md-reverse-camera"></ion-icon></a>   
        <a (click)="flash()" *ngIf="flashOn && !pictureTaken"><ion-icon id="flash" ios="ios-flash" md="md-flash"></ion-icon></a>
        <a (click)="noFlash()" *ngIf="!flashOn && !pictureTaken"><ion-icon id="no_flash" ios="ios-flash-outline" md="md-flash"></ion-icon></a>     
    </div>      
  </div>
  <p>
    <ion-img [style.background-image]="imgUrl" style="background-size: cover; background-position: center; background-repeat: no-repeat;" *ngIf="pictureTaken"></ion-img>  
  </p>
  <a (click)="newPhoto()" *ngIf="pictureTaken"><ion-icon id="retake" ios="ios-close" md="md-close"></ion-icon></a>
  <div id="camera_btn_wrapper" style="position: absolute; bottom: 0px; left: 0px; width: 100%;">
    <a (click)="takePicture()" *ngIf="pictureNotTaken"><ion-icon id="camera_btn" ios="ios-radio-button-on" md="md-radio-button-on"></ion-icon></a>
    <a (click)="getInfo()" *ngIf="!pictureNotTaken && pictureImgur"><ion-icon id="info" ios="ios-checkmark-circle-outline" md="md-checkmark-circle"></ion-icon></a>
    <ion-spinner *ngIf="infoLoading" name="ios"></ion-spinner> 
    <a id="zoomIn" (click)="zoomIn()" *ngIf="pictureNotTaken"><ion-icon ios="ios-add" md="md-add"></ion-icon></a>
    <a id="zoomOut" (click)="zoomOut()" *ngIf="pictureNotTaken"><ion-icon ios="ios-remove" md="md-remove"></ion-icon></a>
  </div>
</ion-content>
