page-detail {

	background-color: white !important;
	color: black !important;
	border-radius: 5px;
	padding-top: 0;
}
ion-content{
	
	padding-top: 0;
}
ion-navbar{
	
	text-align: center;

	padding-top: 0;

}
span{
	
	
}
.nav_bg{
	

	padding-top: 0;
}
.toolbar-background{
	
	
}

ion-title{
  
    
}
.toolbar-content-md{
	
	
	padding-top: 0;
}
.toolbar-title{
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(252, 135,37) !important;
    margin-top: -30px;
}
.toolbar-background-md{
	
	padding-top: 0;
}
ion-header{
	

	padding-top: 0;
}

#percent{
	
	color: rgb(252, 135,37) !important;
}
